.add-property {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.add-property h4 {
    font-family: 'inter';
    font-size: clamp(12px, 1.7vw, 28px);
    font-weight: 500;
    line-height: 133.333%;
    text-transform: capitalize;
}
.add-property .form {
    width: 85%;
    border-radius: 10px;
    box-shadow: 0px 4px 63px 0px rgba(0, 0, 0, 0.15);
    color: var(--looks-purple);
    font-family: 'poppins';
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20%;
    margin-top: 25px;
    padding: 35px 0;
}
.form h3 {
    color: var(--orange);
    text-align: center;
    font-size: clamp(17px, 1.9vw, 30px);
    font-weight: 700;
    line-height: 114.286%;
    letter-spacing: 0.1px;
}
.form .all-inputs {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 50px;
}
.form .major-inputs {
    height: 45%;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10%;
}
.form .input-container {
    flex-grow: 1;
    display: inline-block;
}
.input-container label {
    display: block;
    font-size: clamp(12px, 1.2vw, 20px);
    font-weight: 600;
    line-height: 141.176% ;
    letter-spacing: 0.2px;
}
.input-container input, .input-container select {
    width: 280px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #E6E6E6;
    background-color: #F9F9F9;
    margin: 10px 15px 15px 0;
    padding-left: 20px;
    color: var(--looks-purple);
}
.input-container input::placeholder {
    color: var(--second-text-color, #737373);
    font-family: 'inter';
    font-size: clamp(11px, 1vw, 16px);
    font-weight: 400;
    line-height: 200%;
    letter-spacing: 0.2px;
    padding: 5px 0;
}
/* .input-container select option {
    appearance: none;
    color: var(--orange);
} */
.input-container span {
    color: var(--orange);
}
.description {
    width: 100%;
}
.input-container textarea {
    width: 90%;
    height: 120px;
    background-color: #F9F9F9;
    border: 1px solid #E6E6E6;
    border-radius: 5px;
    margin-bottom: 10px;
    resize: none;
}
.input-container textarea::placeholder {
    color: #737373;
    font-family: var(--inter);
    font-size: clamp(10px, 1vw, 16px);
    font-weight: 400;
    line-height: 200% ;
    letter-spacing: 0.2px;
    padding-left: 20px;
    
}
input[type="file"] {
    display: none;
}
.input-container button {
    width: 90%;
    height: 80px;
    /* border: 1px dashed var(--orange); */
    border: 2px solid transparent;
    border-image: repeating-linear-gradient(90deg, var(--orange), var(--orange) 10px, transparent 5px, transparent 20px);
    border-image-slice: 1;
    background: rgba(244, 81, 30, 0.01);
    border-radius: 10px;
}
.input-container button p:nth-of-type(1) {
    font-family: 'poppins';
    font-size: clamp(10px, 1.1vw, 20px);
    font-weight: 500;
}
.input-container button p:nth-of-type(1) span {
    color: orange;
    font-weight: 700;
}
.input-container button p:nth-of-type(2) {
    color: rgba(0, 0, 0, 0.50);
    font-family: 'poppins';
    font-size: clamp(8px, 0.9vw, 16px);
    font-weight: 500;
}
#add-property {
    margin-top: 40px;
    height: 60px;
    width: 40%;
    border: none;
    background-color: #F4511E;
    color: #fff;
    border-radius: 9px;
}
@media screen and (max-width: 576px){
    .add-property h4{
        text-align: center;
        font-size: 1.4rem;
    }
}